.reorderable-ul{
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.reorderable-li {
  position: relative;
  /* max-width: 300px; */
  max-width: 100%;
  list-style: none;
  border: 1px solid #ccc;
  height: 40px;
  box-sizing: border-box;
  padding: 9px;
  margin: 10px;
}

.left {
  text-align: center;
  font-size: 14px;
  text-align: left;
  width: calc(100% - 60px);
  height: 100%;
  float: left;
}

.info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 20px;
}

.info img {
  float: left;
  margin-right: 10px;
}

.right {
  width: 55px;
  float: right;
  margin-right: 5px;
}

.right a {
  line-height: 20px;
  text-decoration: none;
  float:right;
  margin-right: 5px;
}